
<h1>Welcome home</h1>
<div fxLayout='row' fxFlex="33%" class = "from">
  <br>
<form >
  <div>
    <md-form-field class="textField">
      <input mdInput placeholder="Username">
    </md-form-field>
  </div>

  <div>
    <md-form-field class="textField">
      <input mdInput placeholder="Password">
    </md-form-field>
  </div>
</form>

<div>
    <button md-raised-button class="textField" (click)="showNextPage()">Login</button>
</div>
<hr>
<div>
    <button md-raised-button class="textField" (click)="showNextPage()">Login with Gmail</button>
</div>
<hr>

<div>
    <button md-raised-button class="textField" (click)="showNextPage()">Login with Facebook</button>
</div>
<hr>

</div>
